/* GOOFLE FONT */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&family=Roboto:wght@100;300;500&display=swap');
*{
    font-family: 'Poppins', sans-serif;
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-padding-top: 4rem;
    scroll-behavior: smooth;
    list-style: none;
    text-decoration: none;
}

:root{
    --main-color: #bc9667;
    --second-color: #edeae3;
    --text-color: #1b1b1b;
    --bg-color: #fff;

    /* Box shadow */
    --box-shadow: 2px 2px 10px 4px rbg(14 55 54 / 15%); 
}
.section{
    padding: 50px 100px;
}
img{
    width: 75%;

}
body{
    color: var(--text-color);
}
.header{
    position: fixed;
    width: 100%;
    top: 0;
    right: 0;
    z-index: 1000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 18px 100px;
    transition: linear 0.5s ;
    /* background-color: var(--text-color); */
}
.header img{
    border-radius: 50%;
}
header.shadow{
    background: var(--text-color);
    box-shadow: var(--box-shadow);
}
.logo img{
    width: 60px;

}
.navbar{
    display: flex;
    position: relative;
}
.navbar a{
    padding: 8px 17px;
    color: var(--bg-color);
    font-size: 1rem;
    text-transform: uppercase;
    font-weight: 500;
}
.navbar a:hover{
    background: var(--main-color);
    border-radius: 0.2rem;
    transition: all linear 0.2s;
}
.header-icon{
    font-size: 22px;
    cursor: pointer;
    z-index: 10000;
    display: flex;
    column-gap: 0.8rem;
}
.header-icon .fa-solid{
    color: var(--bg-color);
}
.header-icon .fa-solid:hover{
    color: var(--main-color);
}
#menu-icon{
    color: var(--bg-color);
    font-size: 24px;
    z-index: 100001;
    cursor: pointer;
    display: none;
}
.search-box{
    position: absolute;
    top: -100%;
    left: 50%;
    transform: translate(-50%);
    background: var(--bg-color);
    width: 100%;
}
.search-box.active{
    top: 110%;
    box-shadow: var(--box-shadow);
    transition: 0.2s linear all;
    
}
.search-box.active:hover{
    top: 110%;
    box-shadow: var(--box-shadow);
    transition: 0.2s linear all;
    
}
.search-box input{
    padding: 20px;
    border: none;
    outline: none;
    width: 100%;
    font-size: 1rem;
    color: var(--main-color);
}
.search-box input::placeholder{
    font-size: 1rem;
    font-weight: 500;
}
.home{
    width: 100%;
    min-height: 105vh;
    background: url(img/bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(41rem,auto));
    align-items: center;
    gap: 0.5rem;
    /* text-align: center; */
}
.home-text{
    padding-left: 4rem;
}
.home-text h1{
    font-size: 4rem;
    color: var(--main-color);
    text-transform: uppercase;
    letter-spacing: 2px;
}
.home-text p{
    font-size: 1rem;
    color: var(--bg-color);
    margin: 0.5rem 0 1.4rem;
}
.home-img{
    text-align: center;
}


.btn{
    padding: 10px 40px;
    border-radius: 0.3rem;
    background: var(--main-color);
    color: var(--bg-color);
    font-weight: 500;
}
.btn:hover{
    background: #8a6f4d;
}


/* About */
.about{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(20rem,auto));
    align-items: center;
    gap: 1.5rem;
    padding: 65px 25px;
}
.about-img{
    text-align: center;
}
.about-img img{
    border-radius: 1.5rem;
    font-size: 100%;
}
.about-text{
    display: block;
}
.about-text h2{
    display: block;
    font-size: 2rem;
    text-transform: uppercase;
}
.about-text p{
    font-size: 1.2rem;
    font-weight: 300;
    margin: 0.5rem 0 1.1rem;
}



/* Product */
.products{
    padding: 65px 0;
}
.heading{
    text-align: center;
}
.heading h2{
    font-size: 1.8rem;
    text-transform: uppercase;
}
.grid__row{
    display: flex ;
}
.products-container{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(280px,auto));
    gap: 1.5rem;
    margin-top: 2rem;
    padding: 0 4rem;
}


.box{
    margin: 10px 0;
    position: relative;
}
.products-container .box{
    position: relative;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 0.5rem;
    background: #d7d7d7;
    box-shadow: var(--box-shadow);
}
.products-container img{
    width: 100%;
    height: 250px;
    object-fit: contain;
    object-position: center;
    padding: 20px;
    background: #f1f1f1;
    border-radius: 0.5rem;
}
.products-container .box h3{
    font-size: 1rem;
    font-weight: 600;
    text-transform: uppercase;
    margin: 0.5rem 0 0.5rem;
}
.products-container .box h4{
    font-size: 1rem;
    font-weight: 300;
    line-height: 1.8rem;
    overflow: hidden;
    padding: 3px 0;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
}
.products-container .box .content{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.products-container .box .content span{
    padding: 0 1rem;
    color: var(--bg-color);
    background: var(--main-color );
    border-radius: 4px;
    font-weight: 500;
}
.products-container .box .favourite{
    position: absolute;
    top: 20px;
    left: -7px;
    color: #e75b31;
    /* background-color: #e75b31; */
    background-color: currentColor;
    font-size: 1.1rem;
    font-weight: 500;
    line-height: 1.8rem;
    padding-right: 4px;
    border-top-right-radius : 3px ;
    border-bottom-right-radius : 3px ;
}
.products-container .box .favourite::before{
    content: "";
    position: absolute;
    left: 0;
    bottom: -4px;
    border-top: 4px solid  currentColor;
    border-left: 4px solid transparent;
    /* Tối màu */
    filter: brightness(60%);
}
.products-container .box .favourite span{
    color: #070202;
}
.products-container .box .favourite i{
    font-size: 0.9rem;
    margin: 0 3px 0 6px ;
    color: #070202;
}

/* .content{
    position: relative;
} */
.products-container .box .content a {
    padding: -1px 1rem;
    color: var(--text-color);
    border: 1px solid var(--main-color);
    border-radius: 4px;
    text-transform: uppercase;
    font-size: 15px;
}
.products-container .box .content a:hover{
    background: var(--main-color);
    color: var(--bg-color);
    transition: 0.5s all linear;
}
/* CUSTOMER */
.customers{
    padding: 65px 0;
}
.customers-container{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(280px,auto));
    gap: 1.5rem;
    margin-top: 2rem;
}
.customers-container .box{
    padding: 20px;
    box-shadow: var(--box-shadow);
    border-radius: 0.5rem;
    align-items: center;
}
.stars .fa-solid{
    color: var(--main-color);
}
.customers-container .box p{
    font-size: 0.938rem;
}
.customers-container .box h2{
    font-size: 1.2rem;
    font-weight: 600;
    margin: 0.5rem 0 0 0.5rem;
}
.customers-container .box img{
    width: 70px;
    height: 70px;
    border-radius: 50%;
    object-fit: cover;
}
.customers-container .box:hover{
    background: var(--second-color);
    transition: 0.2s all linear;
}


/* FOOTER */
.footer{
    padding: 65px 0;
    background-color: #f9f9f9;
}
.footer-box h2{
    font-size: 1rem;
    font-weight: 600;
    margin-bottom: 10px;
}
.footer-box p{
    font-size: 1rem;
    font-weight: 300;
}
.footer-box__social{
    display: flex;
    align-items: center;
    column-gap: 0.5rem;
    padding: 8px 0;
}
.footer-box__social a .fa-solid{
    font-size: 24px;
    color: var(--text-color);
    padding: 10px;
    background: #dfdace;
    border-radius: 0.2rem;
}
.social a .fa-solid:hover{
    background: var(--main-color);
    color: var(--bg-color);
}

.footer-box h3{
    font-size: 1rem;
    font-weight: 600;
    margin-bottom: 10px;
}
.footer-box li a{
    color: var(--text-color);
    font-size: 1rem;
    font-weight: 300;
}
.footer-box li a:hover{
    background: var(--main-color);
}
.footer-box__contact{
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
}
.footer-box__contact span{
    display: flex;
    align-items: center;
}
.footer-box__contact i{
    font-size: 1rem;
    margin-right: 1rem
}
.footer__dowload{
    display: flex;
}
.footer__dowload-qr{
    width: 80px;
    object-fit: contain;
    border: 1px solid var(--boder-color) ;
}
.footer__dowload-apps{
    margin-left: 16px;
    flex-direction: column;
    justify-content: center;
    display: flex;
}
.footer__dowload-app-img{
    height: 22px;
    flex-direction: column;
    justify-content: center;
}

.footer__dowload-apps-link{
    text-decoration: none;
    color: transparent;    
}

.footer-box__vnpay{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    cursor: pointer;
}
.footer-box__vnpay-link{
    background-color: aliceblue;
    height: 25px;
    border-radius: 3px;
    box-shadow: 0 1px 2px #070202;
}
.footer-box h4{
    margin-top: 20px;
}


/* Copyright */
.copyright{
    padding: 20px;
    text-align: center;
    background: var(--second-color);
    font-size: .75rem;
    color: rgba(0,0,0,.65);
}
.copyright p{
    padding: 5px 0;
    font-weight: 400;
}
.copyright__heading {
    color: rgba(0,0,0,.65);
    display: flex;
    justify-content: center;
    font-size: 0.8rem;
    padding-bottom: 2rem;
}
.copyright__heading-body span{
    cursor: pointer;
    padding: 0 30px;
    border-right: 1px solid rgba(0, 0, 0, 0.09);
}
.copyright__heading-body:last-child{
    border: 0;
}
.copyright__heading-body-text{
    color: rgba(0,0,0,.65);
}